/* 
    Created on : Jun 28, 2014, 8:24:25 AM
    Author     : chad
*/

body
{
    //background-color: #F8F8F8;
    background: linear-gradient(#fff 0,#f8f8f8 100%);
}

#main
{
    padding:0px 20px;
}

.videobox, .videobox:hover
{
    text-align:center;
    color:black;
    text-decoration:none;
}

.vidTitle
{
   white-space:nowrap;
   width:100%;
   overflow:hidden;
   text-overflow:ellipsis;
}

reel > a
{ 
    //text-align:center;
}
.noselect 
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
#welcome
{
    display:none;
}