/* 
    Created on : Jun 28, 2014, 8:24:25 AM
    Author     : chad
*/

body
{
    //background-color: #F8F8F8;
    background: linear-gradient(#fff 0,#f8f8f8 100%);
}

#main
{
    padding:0px 20px;
}

.videobox
{/*
    background-color: gray;
    width: 500px;
    height: 300px;*/
}
.vidTitle
{
   white-space:nowrap;
   width:100%;
   overflow:hidden;
   text-overflow:ellipsis;
}

reel > a
{
    
    //text-align:center;
}

#welcome
{
    display:none;
}